version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-shiori_shiori_1
      APP_PORT: 8080

  shiori:
    image: ghcr.io/go-shiori/shiori:v1.8.0@sha256:d3bdfc1b68b8f267a04cf74d73b8a0e1d99ac71c3a9047375e97202f079eb1f6
    command: ["server", "--log-level", "debug"]
    volumes:
      - ${APP_DATA_DIR}/data/app_data:/srv/shiori
    environment:
      SHIORI_DIR: /srv/shiori
    depends_on:
      - postgres
      - mariadb

  postgres:
    image: postgres:14.19@sha256:962ffbe9f6418387643411b127c1db27465e5a23b9a8849bfaf45fa6323963ce
    environment:
      POSTGRES_DB: shiori
      POSTGRES_USER: shiori
      POSTGRES_PASSWORD: shiori
    volumes:
      - ${APP_DATA_DIR}/data/postgres:/var/lib/postgresql/data

  mariadb:
    image: mariadb:12.0.2@sha256:5b6a1eac15b85b981a61afb89aea2a22bf76b5f58809d05f0bcc13ab6ec44cb8
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: shiori
      MYSQL_USER: shiori
      MYSQL_PASSWORD: shiori
    volumes:
      - ${APP_DATA_DIR}/data/mariadb:/var/lib/mysql
