version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-shiori_shiori_1
      APP_PORT: 8080

  shiori:
    image: ghcr.io/go-shiori/shiori:latest
    command: ["server", "--log-level", "debug"]
    volumes:
      - ${APP_DATA_DIR}/data:/srv/shiori
    environment:
      SHIORI_DIR: /srv/shiori
      # SHIORI_DATABASE_URL: postgres://shiori:shiori@denny-shiori_postgres_1/shiori?sslmode=disable
      # SHIORI_DATABASE_URL: mysql://shiori:shiori@denny-shiori_mariadb_1/shiori?charset=utf8mb4
    depends_on:
      - postgres
      - mariadb

  postgres:
    image: postgres:13.18
    environment:
      POSTGRES_DB: shiori
      POSTGRES_USER: shiori
      POSTGRES_PASSWORD: shiori
    volumes:
      - ${APP_DATA_DIR}/postgres:/var/lib/postgresql/data

  mariadb:
    image: mariadb:10.5.27
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: shiori
      MYSQL_USER: shiori
      MYSQL_PASSWORD: shiori
    volumes:
      - ${APP_DATA_DIR}/mariadb:/var/lib/mysql
