version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-spoolman_web_1
      APP_PORT: 8000
      
  web:
    image: ghcr.io/donkie/spoolman:latest
    restart: on-failure
    volumes:
      - type: bind
        source: ${APP_DATA_DIR}/data:/data 
        target: /home/app/.local/share/spoolman
