version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-spoolman_web_1
      APP_PORT: 8000

  web:
    image: ghcr.io/donkie/spoolman:0.22.1@sha256:238ea5bfb2eeda4436c39f54e73df5fef4ee904fb7c291617588b856786fe0ef
    environment:
      - TZ=UTC
      - PUID=1001
      - PGID=1001
    volumes:
      - ${APP_DATA_DIR}/data:/home/app/.local/share/spoolman
