version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-spoolman_web_1
      APP_PORT: 8000

  web:
    image: ghcr.io/donkie/spoolman:latest
    environment:
      TZ: Europe/Berlin
    volumes:
      - ${APP_DATA_DIR}/data:/home/app/.local/share/spoolman
