version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-spoolman_web_1
      APP_PORT: 8000

  db:
    image: postgres:17
    volumes:
      - ${APP_DATA_DIR}/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: spoolman
      POSTGRES_USER: spoolmanuser
      POSTGRES_PASSWORD: spoolmanpass
    restart: on-failure

  web:
    image: ghcr.io/donkie/spoolman:latest
    depends_on:
      - db
    environment:
      SPOOLMAN_DB_TYPE: postgres
      SPOOLMAN_DB_HOST: denny-spoolman_db_1
      SPOOLMAN_DB_PORT: 5432
      SPOOLMAN_DB_NAME: spoolman
      SPOOLMAN_DB_USERNAME: spoolmanuser
      SPOOLMAN_DB_PASSWORD: spoolmanpass
      FORWARDED_ALLOW_IPS: "*"
      SPOOLMAN_DEBUG_MODE: "TRUE"
    volumes:
      - ${APP_DATA_DIR}/data:/home/app/.local/share/spoolman
    restart: on-failure
