version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-monetr_monetr_1
      APP_PORT: 4000

  postgres:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: m0netrPass123
      POSTGRES_USER: postgres
      POSTGRES_DB: monetr
    volumes:
      - ${APP_DATA_DIR}/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  valkey:
    image: valkey/valkey:9
    volumes:
      - ${APP_DATA_DIR}/valkey:/data
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10

  monetr:
    image: ghcr.io/monetr/monetr:latest
    user: "0:0"
    command:
      - serve
      - --migrate
      - --generate-certificates
    depends_on:
      postgres:
        condition: service_healthy
      valkey:
        condition: service_healthy
    volumes:
      - ${APP_DATA_DIR}/data:/etc/monetr
    environment:
      MONETR_ALLOW_SIGN_UP: ${MONETR_ALLOW_SIGN_UP:-true}
      MONETR_PG_USERNAME: postgres
      MONETR_PG_PASSWORD: m0netrPass123
      MONETR_PG_DATABASE: monetr
      MONETR_PG_ADDRESS: postgres
      MONETR_PG_PORT: 5432
      MONETR_REDIS_ENABLED: "true"
      MONETR_REDIS_ADDRESS: valkey
      MONETR_REDIS_PORT: 6379
      MONETR_STORAGE_ENABLED: ${MONETR_STORAGE_ENABLED:-true}
      MONETR_STORAGE_PROVIDER: ${MONETR_STORAGE_PROVIDER:-filesystem}
