version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-torbrowser_web_1
      APP_PORT: 5800
      PROXY_AUTH_ADD: "false"
  web:
    image: dennysubke/torbrowser:15.0.1@sha256:81269f7ec6494e5d7d4fc88391256bfb311165bb1d18124984ada296268c6962
    restart: always
    environment:
      - TZ=Europe/Berlin
      - DARK_MODE=1
      - WEB_AUDIO=1
    volumes:
      - ${APP_DATA_DIR}/config:/config
