version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-torbrowser_web_1
      APP_PORT: 5800
      PROXY_AUTH_ADD: "false"
  web:
    image: dennysubke/torbrowser:15.0.1@sha256:cfc45fbb5ef03ffcf301d3bc322cac8f611ceb13b37154127b3028423f21cb3f
    restart: always
    environment:
      - TZ=Europe/Berlin
      - DARK_MODE=1
      - WEB_AUDIO=1
    volumes:
      - ${APP_DATA_DIR}/config:/config
