version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-coolify_web_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"

  db:
    image: postgres:15
    restart: on-failure
    environment:
      POSTGRES_DB: coolify
      POSTGRES_USER: coolify
      POSTGRES_PASSWORD: coolify_password_change_me
      TZ: Europe/Berlin
    volumes:
      - ${APP_DATA_DIR}/data/postgres:/var/lib/postgresql/data:rw

  redis:
    image: redis:7-alpine
    restart: on-failure
    command: ["redis-server","--appendonly","yes"]
    volumes:
      - ${APP_DATA_DIR}/data/redis:/data:rw

  docker:
    image: docker:28.0.4-dind
    restart: on-failure
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
      TZ: Europe/Berlin
    command: >
      dockerd
      --host=unix:///data/docker.sock
      --storage-driver=overlay2
    volumes:
      - ${APP_DATA_DIR}/data/docker:/data:rw

  keygen:
    image: lscr.io/linuxserver/openssh-server:latest
    restart: "no"
    entrypoint: ["/bin/sh","-lc"]
    command: >
      'mkdir -p /keys &&
       [ -f /keys/coolify_ed25519 ] ||
       ssh-keygen -t ed25519 -a 100 -f /keys/coolify_ed25519 -q -N "" -C root@coolify'
    volumes:
      - ${APP_DATA_DIR}/data/keys:/keys

  prep-sshd:
    image: alpine:3.20
    restart: "no"
    depends_on:
      - keygen
    entrypoint: ["/bin/sh","-lc"]
    command: >
      'mkdir -p /sshd &&
       cp /keys/coolify_ed25519.pub /sshd/authorized_keys &&
       chmod 600 /sshd/authorized_keys'
    volumes:
      - ${APP_DATA_DIR}/data/keys:/keys:ro
      - ${APP_DATA_DIR}/data/sshd:/sshd

  sshd:
    image: lscr.io/linuxserver/openssh-server:latest
    restart: on-failure
    depends_on:
      - prep-sshd
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      PASSWORD_ACCESS: "false"
      PUBLIC_KEY_FILE: /config/ssh/authorized_keys
      USER_NAME: coolify
      SERVICE_PORT: 2222
    volumes:
      - ${APP_DATA_DIR}/data/sshd:/config/ssh:rw

  web:
    image: ghcr.io/coollabsio/coolify:4.0.0-beta.438
    restart: on-failure
    user: "1000:1000"
    stop_grace_period: 1m
    depends_on:
      - db
      - redis
      - docker
      - sshd
    environment:
      TZ: Europe/Berlin
      APP_ENV: production
      APP_URL: http://${DEVICE_DOMAIN_NAME}:8527
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: coolify
      DB_USERNAME: coolify
      DB_PASSWORD: coolify_password_change_me
      REDIS_HOST: redis
      REDIS_PORT: 6379
      COOLIFY_SELF_HOSTED: "true"
      COOLIFY_HOST_SSH_ADDRESS: sshd
      COOLIFY_HOST_SSH_PORT: 2222
      COOLIFY_HOST_SSH_USER: coolify
      COOLIFY_SSH_KEYS_DIR: /data/coolify/ssh/keys
      DOCKER_HOST: unix:///var/run/docker.sock
    volumes:
      - ${APP_DATA_DIR}/data/coolify:/data:rw
      - ${APP_DATA_DIR}/data/docker/docker.sock:/var/run/docker.sock
      - ${APP_DATA_DIR}/data/keys:/data/coolify/ssh/keys:rw
