version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-coolify_web_1
      APP_PORT: 8080

  docker:
    image: docker:28.0.4-dind@sha256:ddb0033088b4fab74881ade341a582e3c6c8021b82377703ba1a6106bd3ded44
    privileged: true
    network_mode: host
    stop_grace_period: 1m
    restart: on-failure
    environment:
      DOCKER_ENSURE_BRIDGE: "dind0:10.32.0.1/16"
    entrypoint: /entrypoint.sh
    command: >
      dockerd
        --bridge dind0
        --data-root /data/data
        --exec-root /data/exec
        --host unix:///data/docker.sock
        --pidfile /data/docker.pid
    volumes:
      - ${APP_DATA_DIR}/entrypoint.sh:/entrypoint.sh
      - ${APP_DATA_DIR}/data/docker:/data

  web:
    image: coollabsio/coolify:4.0.0-beta.434@sha256:39db8373628c340747cf6199f5873322d5d0a9b6617bad0ce5cf6895369a3a83
    #command: --host unix:///var/run/docker.sock --admin-password-file=/default-password
    restart: on-failure
    environment:
      COOLIFY_APP_ID: coolify
      COOLIFY_SECRET_KEY: 401a49063b516a93ac62a5dfdae969dd9189cae019dd0b1d7d9d7e8fd5db9269
      APP_KEY: base64:FLESjZzM6M2rd7T023CHSMGNQKegQBRUaZJY7wq4VCI=
      DATABASE_URL: postgresql://coolify:coolifypass123@db:5432/coolify
      COOLIFY_DATABASE_URL: postgresql://coolify:coolifypass123@db:5432/coolify
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: coolify
      DB_USERNAME: coolify
      DB_PASSWORD: coolifypass123
      REDIS_HOST: redis
      REDIS_PORT: 6379
      COOLIFY_REDIS_URL: redis://redis:6379
    volumes:
      - ${APP_DATA_DIR}/data/coolify_data:/data
      - ${APP_DATA_DIR}/default-password:/default-password
      - ${APP_DATA_DIR}/data/docker:/var/run
    depends_on:
      - db
      - redis

  db:
    image: postgres:15@sha256:c189d272e4fcdd1ac419adee675d30be3d389c22ee770d593f15819d22a68a0d
    restart: on-failure
    environment:
      POSTGRES_USER: coolify
      POSTGRES_PASSWORD: coolifypass123
      POSTGRES_DB: coolify
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/postgresql/data

  redis:
    image: redis:alpine@sha256:59b6e694653476de2c992937ebe1c64182af4728e54bb49e9b7a6c26614d8933
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/redis:/data
