version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-spotizerr_spotizerr_1
      APP_PORT: 7171

  spotizerr:
    image: cooldockerizer93/spotizerr
    user: "1000:1000"
    environment:
      HOST: "0.0.0.0"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_PASSWORD: "spotizerr_redis_password"
      JWT_SECRET: "superlongrandomjwtsecret"
      DEFAULT_ADMIN_USERNAME: "admin"
      DEFAULT_ADMIN_PASSWORD: "umbrel"
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
      - ${APP_DATA_DIR}/downloads:/app/downloads
      - ${APP_DATA_DIR}/logs:/app/logs
      - ${APP_DATA_DIR}/.cache:/app/.cache
    depends_on:
      - redis

  redis:
    image: redis:alpine
    environment:
      REDIS_PASSWORD: "spotizerr_redis_password"
    volumes:
      - ${APP_DATA_DIR}/redis:/data
    command: sh -c 'redis-server --requirepass "$REDIS_PASSWORD" --appendonly yes'
