services:
  app_proxy:
    environment:
      APP_HOST: denny-spotizerr_spotizerr_1
      APP_PORT: 7171

  perms:
    image: busybox:latest
    user: "0:0"
    volumes:
      - ${APP_DATA_DIR}/data:/fix/data
      - ${APP_DATA_DIR}/downloads:/fix/downloads
      - ${APP_DATA_DIR}/logs:/fix/logs
    command: sh -lc 'mkdir -p /fix/data /fix/downloads /fix/logs && chown -R 1000:1000 /fix'

  spotizerr:
    image: cooldockerizer93/spotizerr
    user: "1000:1000"
    environment:
      HOST: "0.0.0.0"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_PASSWORD: "spotizerr_redis_password"
      JWT_SECRET: "b6e5a0f10c3f4e8f8d7d6a2bb8f9c6a1d2f3b7e9c1a4d5f8e3b9a7c2f1e6d4b0"
      DEFAULT_ADMIN_USERNAME: "admin"
      DEFAULT_ADMIN_PASSWORD: "umbrel"
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
      - ${APP_DATA_DIR}/downloads:/app/downloads
      - ${APP_DATA_DIR}/logs:/app/logs
    depends_on:
      - perms
      - redis

  redis:
    image: redis:alpine
    environment:
      REDIS_PASSWORD: "spotizerr_redis_password"
    volumes:
      - ${APP_DATA_DIR}/redis:/data
    command: sh -lc 'redis-server --requirepass "$$REDIS_PASSWORD" --appendonly yes'
