version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-openfreemap_nginx_1
      APP_PORT: 80

  init:
    image: openfreemap-init:latest
    privileged: true
    environment:
      AREA: monaco
      VERSION: latest
      SKIP_DOWNLOAD: "false"
      SKIP_EXTRACT: "false"
      SKIP_ASSETS: "false"
      BTRFS_DIR: /data/btrfs
      TILES_DIR: /data/tiles
      ASSETS_DIR: /data/assets
      BTRFS_CDN_URL: https://btrfs.openfreemap.com
      ASSETS_CDN_URL: https://assets.openfreemap.com
    volumes:
      - ${APP_DATA_DIR}/data:/data
    restart: "no"

  nginx:
    image: openfreemap-nginx:latest
    depends_on:
      - init
    environment:
      NGINX_HOST: ${DEVICE_DOMAIN_NAME}
      TILES_DIR: /data/tiles
      ASSETS_DIR: /data/assets
    volumes:
      - ${APP_DATA_DIR}/data:/data
    restart: unless-stopped
