version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-cryptpad_cryptpad_1
      APP_PORT: 3000

  cryptpad:
    image: cryptpad/cryptpad:version-2024.6.1
    environment:
      - CPAD_CONF=/cryptpad/config/config.js
    volumes:
      - ${APP_DATA_DIR}/blob:/cryptpad/blob
      - ${APP_DATA_DIR}/block:/cryptpad/block
      - ${APP_DATA_DIR}/customize:/cryptpad/customize
      - ${APP_DATA_DIR}/data:/cryptpad/data
      - ${APP_DATA_DIR}/files:/cryptpad/datastore
      - ${APP_DATA_DIR}/onlyoffice-dist:/cryptpad/www/common/onlyoffice/dist
      - ${APP_DATA_DIR}/onlyoffice-conf:/cryptpad/onlyoffice-conf
      - ${APP_DATA_DIR}/config/config.js:/cryptpad/config/config.js:ro
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
