version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: denny-threema_web_1
      APP_PORT: 80

  web:
    image: dennysubke/threema-web:v2.6.3@sha256:8c65ceb537a7a85bb98ef38263860dc6bede8faef620143ec01a584dec26878d
    #user: "1000:1000" only root - try to find solutions
    restart: on-failure

