version: "3.9"

services:
  app_proxy:
    environment:
      APP_HOST: denny-authelia_authelia_1
      APP_PORT: 9091
      PROXY_AUTH_ADD: "false"

  authelia:
    image: authelia/authelia:latest
    restart: on-failure
    depends_on:
      - redis
      - postgres
    expose:
      - "9091"
    environment:
      AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE: "/secrets/JWT_SECRET"
      AUTHELIA_SESSION_SECRET_FILE: "/secrets/SESSION_SECRET"
      AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE: "/secrets/STORAGE_ENCRYPTION_KEY"
      AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE: "/secrets/STORAGE_PASSWORD"
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${APP_DATA_DIR}/data/secrets:/secrets

  redis:
    image: redis:7-alpine
    restart: on-failure
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ${APP_DATA_DIR}/data/redis:/data

  postgres:
    image: postgres:16-alpine
    restart: on-failure
    environment:
      POSTGRES_USER: authelia
      POSTGRES_PASSWORD_FILE: /run/secrets/pg_password
      POSTGRES_DB: authelia
    volumes:
      - ${APP_DATA_DIR}/data/postgres:/var/lib/postgresql/data
      - ${APP_DATA_DIR}/data/secrets/STORAGE_PASSWORD:/run/secrets/pg_password:ro
