version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-authelia_traefik_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"

  authelia:
    image: authelia/authelia:latest
    restart: on-failure
    environment:
      TZ: Europe/Berlin
    volumes:
      - ${APP_DATA_DIR}/data/authelia:/config
      - ${APP_DATA_DIR}/data/authelia-data:/data

  traefik:
    image: traefik:v3.5.4
    restart: on-failure
    command:
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--entrypoints.http.address=:8080"
      - "--log.level=DEBUG"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${APP_DATA_DIR}/data/traefik:/etc/traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.api.rule: "PathPrefix(`/dashboard`) || PathPrefix(`/api`)"
      traefik.http.routers.api.service: "api@internal"
      traefik.http.routers.api.entrypoints: "http"
      traefik.http.middlewares.authelia.forwardauth.address: "http://authelia:9091/api/authz/forward-auth"
      traefik.http.middlewares.authelia.forwardauth.trustForwardHeader: "true"
      traefik.http.middlewares.authelia.forwardauth.authResponseHeaders: "Remote-User,Remote-Groups,Remote-Name,Remote-Email"

  secure:
    image: traefik/whoami:latest
    restart: on-failure
    labels:
      traefik.enable: "true"
      traefik.http.routers.secure.rule: "PathPrefix(`/secure`)"
      traefik.http.routers.secure.entrypoints: "http"
      traefik.http.routers.secure.middlewares: "authelia@docker"

  public:
    image: traefik/whoami:latest
    restart: on-failure
    labels:
      traefik.enable: "true"
      traefik.http.routers.public.rule: "PathPrefix(`/public`)"
      traefik.http.routers.public.entrypoints: "http"
