version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-filepizza_web_1
      APP_PORT: 8080

  redis:
    image: redis:7-alpine@sha256:ee64a64eaab618d88051c3ade8f6352d11531fcf79d9a4818b9b183d8c1d18ba
    volumes:
      - ${APP_DATA_DIR}/data/redis:/data

  coturn:
    image: coturn/coturn:4@sha256:a00afb5b4890de4df22bbe70379c6b316685dffee297d53cac1271dcb91fab93
    # TURN needs direct TCP/UDP ports; Umbrel app_proxy only handles HTTP(S)
    ports:
      - "3478:3478"
      - "3478:3478/udp"
      - "5349:5349"
      - "5349:5349/udp"
      # Relay Ports (recommended to open a smaller range instead of 49152-65535)
      # - "49160-49200:49160-49200/udp"
    environment:
      DETECT_EXTERNAL_IP: "yes"
      DETECT_RELAY_IP: "yes"
    command: -n --log-file=stdout --redis-userdb="ip=redis connect_timeout=30"
    depends_on:
      - redis

  web:
    image: kern/filepizza:60704b4@sha256:d3c025189f079bb51266f994de3e357561a7999d7b652f4abb026c3f6e964cfb
    environment:
      PORT: "8080"
      REDIS_URL: redis://redis:6379
    depends_on:
      - redis
