version: "3.7"

services:
  web:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      DEBUG: "0"
    volumes:
      - ${APP_DATA_DIR}/data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock

