version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-ipfs_kubo_1
      APP_PORT: 5001

  kubo:
    image: linuxserver/ipfs:2.14.0@sha256:d7a158a60f137990495308fd923385d6ff48177d0daaf392f6e1dfad699c8c1f
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - ${APP_DATA_DIR}/data:/config
