version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-ipfs_kubo_1
      APP_PORT: 5001

  kubo:
    image: ipfs/kubo:v0.39.0
    environment:
      IPFS_PROFILE: server
    volumes:
      - ${APP_DATA_DIR}/data/staging:/export
      - ${APP_DATA_DIR}/data/ipfs:/data/ipfs
    ports:
      - 4091:4001
      - 4090:8080
