version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-ipfs_web_1
      APP_PORT: 5001

  web:
    image: lscr.io/linuxserver/ipfs:latest
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - ${APP_DATA_DIR}/data:/config
