version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: denny-e2ecp_app_1
      APP_PORT: 3001

  app:
    image: schollz/e2ecp:3.2.0
    command:
      - --port
      - "3001"
      - --max-rooms
      - "50"
      - --max-rooms-per-ip
      - "5"
      - --log-level
      - info
    volumes:
      - ${APP_DATA_DIR}/data:/data
